{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    "@babel/plugin-proposal-export-default-from",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ]
}